a(name='installation')
.container
  .panel.panel-default
    .panel-heading
      h2.panel-title Installation and Usage
    .panel-body
      p Use NPM to include Schemafy in your project:
      pre $ npm install --save schemafy
      hr
      p For Node or Browserify:
      pre
        code.language-javascript
          | var Schemafy = require('schemafy');
      hr
      p For AMD or static browser:
      code Not supported yet.
